.top
{
	border-top: 10px solid #2b3f8d;
	position: relative;
	z-index: 1000;
	padding: 15px 15px;
}
.imgtop
{
	margin-left: 50px ;
}
.slider
{
	background: url('http://www.tlu.edu.vn/dhtl/images/front/bgr-slider.jpg') repeat 0 0;
	padding-bottom: 300px;
	position: relative;
	padding-left: 200px;
}
.imgslider
{
	width: 70%;
	height: 100%;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
}
.onslide
{
	width: 70%;
	height: 50px;
	background:rgba(2,14,140,0.3);
	color: #fff;
	vertical-align: top;
	position: absolute;
}
.onsls
{
	font-style: normal;
}
.onsls:hover
{
	font-style: italic;
	color: #1931b5;
}
.bb
{
	border-bottom: 1px solid #ddd;
	margin-left: -6px;
	background: #50bbff;
}
.pr
{
	padding-right: 30px;
	padding-left: 6px;
}
.pl-6
{
	position: absolute;
	display: inline-block;
}
.onsl
{
	display: inline-block;
	color: white;
	vertical-align: top;
	position: relative;
	text-transform: uppercase;
	box-sizing: border-box;
	white-space: nowrap;
	cursor: pointer;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 15px;
	line-height: 50px;
	padding-left: 6px;
	padding-right: 6px;
}
.onsl::after
{
	background: #7b85b8;
    content: '';
    display: inline-block;
    height: 13px;
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
}
.dn
{
	display: none;
}
.po
{
	position: absolute;
}
.onslc
{
	/* background: #50bbff; */
	display: block;
}
.m-xanh:hover
{
	background: #50bbff;
}
.fa-home
{
	font-size: 30px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 6px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.cb:hover
{
	color: #50bbff;
}
.panel
{
	width: 100%;
	padding-top: 5px;
}
.smallpanel
{
	width: 80%;
	height: 100%;
	margin: 0px auto;
	box-sizing: border-box;
}
.licss
{
	width: 12.5%;
	display: inline-block;
	text-align: center;
	height: 50%;
}
.imglicss
{
	width: 25%;
	height: 30px;
	margin: 10px auto 20px auto;
}
.textlicss
{
	color:#a90000;
	font-weight:100;
	margin:0px 0px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	margin-bottom: 10px;
}
.new
{
	width: 100%;
	/* height: 500px; */
	padding-top: 10px;
	padding-bottom: 10px;
	/* background: blue; */
	margin-bottom: 20px;
}
.new1
{
	width: 80%;
	background: white;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.new2
{
	width: 75%;
	/* height: 100%; */
	box-sizing: border-box;
	border: 5px solid white;
	/* background: blue; */
	display: inline-block;
	/* vertical-align: top; */
}
.new3
{
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	/* background: blue; */
	display: inline-block;
	border: 5px solid white;
	vertical-align: top;
}
.otin3
{
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	width: 100%;
	font-size: 30px;
	color:#a90000;
	cursor: pointer;
	display: block;
}
.otin3img
{
	width: 100%;
	height: 60px;
	display: block;
}
.otin3:hover
{
	color: blue;
}
.otin3to
{
	width: 100%;
	height: auto;
	border-bottom: 1px dotted #001373;
	padding: 3px 0;
}
.otin3span
{
	width: 20%;
	display: inline-block;
	min-width: 40px;
	height: 45px;
}
.otin3chude
{
	vertical-align: top;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	width: 80%;
	font-size: 16px;
	color:#a90000;
	cursor: pointer;
	display: inline-block;
}
.otin3chude:hover
{
	color: blue;
}
.otin
{
	width: 33.3333333%;
	border: 5px solid white;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
.otinanh
{
	display: block;
	vertical-align: top;
	width: 100%;
	height: 150px;
}
.otinchude
{
	display: block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #a90000;
	margin-top: 10px;
	cursor: pointer;
}
.otinchude:hover
{
	color: blue;
}
.otieudeanh
{
	width: 100%;
	height: 250px;
	display: block;
	vertical-align: top;
	position: relative;
}
.otrenanh
{
	position: absolute;
	width: 100%;
	color: white;
	font-size: 100%;
	text-align: center;
	padding: 10px 0;
	font-family: 'Roboto Condened', Arial;
	margin-top: 160px;
	background: rgba(0, 25, 25, .5);
}
.otieudecd
{
	font-size: 20px;
	color:#a90000;
	display: block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	margin: 10px 0;
	cursor: pointer;
}
.otieudecd:hover
{
	color: blue;
}
.otieudend
{
	font-size: 16px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	display: block;
	cursor: pointer;
	color: black;
}
.td
{
	width: 100%;
}
.td1
{
	width: 80%;
	margin: 0px auto;
}
.new4
{
	width: 100%;
	height: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: blue;
	margin-bottom: 35px;
}
.footertop
{
	background: #004eaf;
	padding: 15px;
	text-align: center;	
}
.spanfooter
{
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: white;
	font-weight: 100;
	background: #004eaf;
	font-size: 25px; 
}
.footermiddle
{
	width: 100%;
	background: #001373;
	padding: 25px 0px;
}
.footermiddle1
{
	width: 90%;
	margin: 0px auto;
}
.footerdiv
{
	display: inline-block;
	width: 33.33333333%;
	color: white;
	font-size: 12px;
	box-sizing: border-box;
	border-right: 5px solid #001373;
	vertical-align: top;
}
.prev
{
	position: absolute;
	left: 0px;
	top: 45%;
	z-index: 1;
	margin-left: 250px;
	font-size: 50px;
	color: rgba(0,0,0,0.3);
}
.next
{
	position: absolute;
	right: 0px;
	top: 45%;
	z-index: 1;
	margin-right: 250px;
	font-size: 50px;
	color:  rgba(0,0,0,0.3);
}
.m-trang:hover
{
	 color: white;
}
.hrf
{
	width: 80%;
	size: 0.5px;
	color: #ddd;
	float: left;
}
.ftsd
{
	vertical-align: top;
	width: 80%;
	height: 120px;
	background: url('https://scontent.fhan5-5.fna.fbcdn.net/v/t1.0-9/29541394_2088980704709576_7427403513788522623_n.jpg?_nc_cat=0&oh=ee281ee6c1f94578d78eb70211dd5ce8&oe=5B672453');
	background-size: cover;
	background-position: center;
}
.hw
{
	height: 100px;
	width: 80%;
	background: white;
}
.ftss
{
	width: 100%;
	height: 50%;
	padding-left: 15px;
	padding-top: 10px;
}
.aa
{
	vertical-align: top;
	margin-left: 6px;
	font-size: 1.6em;
	color: white;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	text-decoration: none;
	font-weight:500;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
}
.ab
{
	margin-left: 6px;
	font-size: 1.3em;
	color: white;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-weight:500;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
}
.gc:hover
{
	text-decoration: underline;
}